.input {
  border: 2px solid pink;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 12px;
  outline: none;
  color: black;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 18px;
  text-align: start;
}

.validInput {
  border-color: green;
}

.errorInput {
  border-color: red;
}

.error {
  position: absolute;
  top: 161px;
  left: 28%;
  max-width: 150px;
  font-family: sans-serif;
  line-height: 20px;
  text-align: start;
  background-color: #ffeef0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #f97583;
}

.error::before {
  content: '';
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #f97583;
  position: absolute;
  left: 148px;
}

.button {
  padding: 8px 10px;
  margin-left: 20px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: #97bbe8;
  outline: none;
}

.containerTask {
  background-color: white;
  max-width: 265px;
  margin-left: 38%;
}

.task {
  padding: 8px;
  border: 1px solid #97bbe8;
  margin-bottom: 3px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
  margin-right: 15px;
}

.taskBody {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: sans-serif;
}

.buttonDelete {
  color: red;
  background-color: #97bbe8;
  border: none;
  border-radius: 5px;
  outline: none;
}
