.form {
  max-width: max-content;
  position: relative;
  margin: 0 auto;
}

.input {
  border: 2px solid pink;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 12px;
  outline: none;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.validInput {
  border-color: green;
}

.invalidInput {
  border-color: red;
}

.error {
  position: absolute;
  left: -200px;
  top: 2px;
  line-height: 20px;
  text-align: start;
  width: 190px;
  background-color: #ffeef0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #f97583;

  &::after {
    content: "";
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #f97583;
    position: absolute;
    right: -10px;
    top: 13px;
  }
}

.createBtn {
  top: 5px;
  padding: 8px 10px;
  margin-left: 20px;
  border: none;
  border-radius: 20px;
  border: 2px solid #97bbe8;
  font-weight: 600;
  color: #97bbe8;
  outline: none;
  position: absolute;
  min-width: max-content;
}

.containerTasks {
  max-width: 265px;
  margin: 0 auto;
}

.task {
  padding: 8px;
  background-color: white;
  border: 2px solid #97bbe8;
  margin-bottom: 3px;
  border-radius: 5px;
}

.wrapperTask {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
}

.bodyTask {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.deleteBtn {
  border: none;
  outline: none;
  padding: 0;

  img {
    max-width: 16px;
  }
}
