* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: sans-serif;
  text-align: center;
}
